/* .weather-card {
  background: #061e36;
  padding: 20px;
  border-radius: 12px;
  width: 220px;
  font-family: sans-serif;
  box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}
.weather-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
#temp {
  font-size: 2rem;
  font-weight: bold;
} */