.navbar{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: Pink;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
   
}

h1{
    color: black;
    font-size: 30px;
    margin-left: 200px;
}
.iconImage1{
    width: 5px;
    height: 5px;
   
}
.iconImage2{
    width: 5px;
    height: 5px;
    
}