.navbar{
    display: flex;
    height: 120px;
    background-color: var(--background-color);
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
   
}

h1{
    color: var(--primary-color);
    font-size: 30px;
    margin-left: 200px;
   
}
.iconImage1 img{
    width:80px;
    height: 70px;
    
}

.iconImage2{
    display:flex;
    height: 50px;
    width: 20px;
    margin-right: 200px;
}