*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
 --background-color: #9dc7d1;
 --foreground-color: #003cff;
 --primary-text-color: #0a0a0a;
 --theme-bag: #f0eb9d;
 --theme-fg: #ffd000;   
}

[data-theme= "dark"]{
 --background-color:#011111;;
 --foreground-color: #567aff;
 --primary-text-color: #f6f6f6;
 --theme-bag: #283452;
 --theme-fg: #00a6ff;    

}
  